

.table-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-footer p{
  color: var(--primary-color);
font-weight: 500;
font-size: 14px;
}
body.dark .table-footer p{
  color: var(--dark-text-color);
}

@media (min-width : 320px) and (max-width: 576px){
  .table-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
}


@media (min-width : 576px) and (max-width: 768px){

  .table-footer {
    display: flex !important;
    flex-direction: row !important;
  }


}

