
.slider-list{
  margin-top: 30px;
}
.slider-photo{
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
}
body.dark .slider-list{
  background-color : #1b2b4d !important; 
}
body.dark .slide-table tr th{
  color : #B4B4B4 !important; 
  background-color : #1b2b4d !important; 
}

/***** Responsive css ******/
@media (min-width : 320px) and (max-width: 576px){
  .mobile-hide{
    display: none;
  }
  .slider-list.card.p-3 {
    padding: 5px !important;
}
.slider-container{
  padding: 0px !important;
}
}




